<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clearkeep">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Subscriptions -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemoJetpackCompose">
        <activity android:name=".chat.single.SingleChatActivity"
            android:theme="@style/Theme.DemoJetpackCompose.NoActionBar"></activity>
        <activity
            android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.SingleLoginActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".login.GroupLoginActivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".chat.group.GroupChatActivity"
            android:theme="@style/Theme.DemoJetpackCompose.NoActionBar"></activity>
    </application>

</manifest>