<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clearkeep">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Subscriptions -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemoJetpackCompose"
        android:usesCleartextTraffic="true">
        <activity android:name=".screen.chat.search.SearchUserActivity"
            android:theme="@style/Theme.DemoJetpackCompose.NoActionBar"></activity>
        <activity
            android:name=".screen.chat.create_group.CreateGroupActivity"
            android:theme="@style/Theme.DemoJetpackCompose.NoActionBar" />
        <activity
            android:name=".screen.chat.room.RoomActivity"
            android:theme="@style/Theme.DemoJetpackCompose.NoActionBar" />
        <activity
            android:name=".screen.splash.SplashActivity"
            android:theme="@style/Theme.DemoJetpackCompose.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.auth.login.LoginActivity"
            android:label="@string/btn_login"
            android:theme="@style/Theme.DemoJetpackCompose.NoActionBar" />
        <activity
            android:name=".screen.auth.register.RegisterActivity"
            android:label="@string/btn_register"
            android:theme="@style/Theme.DemoJetpackCompose.NoActionBar" />
        <activity
            android:name=".screen.chat.main.HomeActivity"
            android:theme="@style/Theme.DemoJetpackCompose.NoActionBar" />
    </application>

</manifest>