<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.clearkeep">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Subscriptions -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemoJetpackCompose"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <service
            android:name=".services.ChatService"
            android:enabled="true"
            android:exported="false"></service>

        <activity android:name="com.microsoft.identity.client.BrowserTabActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="com.clearkeep"
                    android:path="/fBOt60bSb5qa58yoGD2M6HiecyY="
                    android:scheme="msauth" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.chat.contact_search.SearchUserActivity"
            android:theme="@style/Theme.DemoJetpackCompose.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.chat.group_create.CreateGroupActivity"
            android:theme="@style/Theme.DemoJetpackCompose.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clearkeep.screen.chat.room.RoomActivity"
            android:theme="@style/Theme.DemoJetpackCompose.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.splash.SplashActivity"
            android:theme="@style/Theme.DemoJetpackCompose.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.auth.login.LoginActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/btn_login"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/Theme.DemoJetpackCompose.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.auth.register.RegisterActivity"
            android:label="@string/btn_register"
            android:theme="@style/Theme.DemoJetpackCompose.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.auth.forgot.ForgotActivity"
            android:label="@string/btn_forgot_password"
            android:theme="@style/Theme.DemoJetpackCompose.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clearkeep.screen.chat.home.MainActivity"
            android:theme="@style/Theme.DemoJetpackCompose.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.clearkeep.screen.chat.profile.ProfileActivity"
            android:theme="@style/Theme.DemoJetpackCompose.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.clearkeep.screen.chat.settings.ServerSettingActivity"
            android:theme="@style/Theme.DemoJetpackCompose.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.clearkeep.screen.chat.notification_setting.NotificationSettingActivity"
            android:theme="@style/Theme.DemoJetpackCompose.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.clearkeep.screen.chat.invite.InviteActivity"
            android:theme="@style/Theme.DemoJetpackCompose.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.clearkeep.screen.chat.banned_users.BannedUserActivity"
            android:theme="@style/Theme.DemoJetpackCompose.NoActionBar"
            android:screenOrientation="portrait"/>

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
<service
            android:name=".services.InCallForegroundService"
            android:foregroundServiceType="camera|microphone" />
        -->
        <activity
            android:name=".screen.videojanus.InCallActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"
            android:exported="true"
            android:launchMode="singleInstance"
            android:supportsPictureInPicture="true"
            android:showOnLockScreen="true"
            android:theme="@style/Theme.FastGo.Call" />

        <activity
            android:name=".screen.videojanus.peer_to__peer.InCallPeerToPeerActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"
            android:exported="true"
            android:launchMode="singleInstance"
            android:supportsPictureInPicture="true"
            android:showOnLockScreen="true"
            android:theme="@style/Theme.FastGo.Call" />

        <activity
            android:name=".screen.videojanus.InComingCallActivity"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:theme="@style/Theme.FastGo.Call" />



        <receiver android:name=".screen.videojanus.DismissNotificationReceiver" />
        <receiver android:name=".screen.videojanus.ShowSummaryNotificationReceiver" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_foreground" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@android:color/holo_blue_dark" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter><action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".screen.chat.change_pass_word.ChangePasswordActivity"
            android:theme="@style/Theme.DemoJetpackCompose.NoActionBar"
            android:launchMode="singleTop">
            <intent-filter android:label="@string/change_password">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="www.clearkeep.com" android:pathPrefix="/resetpassword"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".screen.chat.otp.OtpActivity"
            android:theme="@style/Theme.DemoJetpackCompose.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>